* {
    padding: 0;
    margin: 0;
  }
  
  *::selection {
    background-color: #0a5aa1;
    color: white;
  }
  
  /* WebKit Browsers (Chrome, Edge, Safari) */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; /* Fully removes background */
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.5); /* Semi-transparent thumb */
    border-radius: 10px;
    transition: background 0.3s ease-in-out;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(136, 136, 136, 0.7); /* Darker on hover */
  }
  
  /* Firefox Scrollbar */
  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(136, 136, 136, 0.5) transparent; /* Removes track color */
  }
  
  body {
    overflow-x: hidden;
  }
  
  .video-container {
    width: 100vw;
    height: 80vh;
    overflow: hidden;
  }
  
  #ssn-banner-video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  button {
    cursor: pointer;
  }
  
  .filter-container {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 150;
  }
  
  .close-btn {
    font-size: 50px;
    color: white;
    background: transparent;
    outline: none;
    border: none;
    position: absolute;
    top: 100px;
    right: 150px;
  }
  
  .apply {
    padding: 10px 20px;
    outline: none;
    border: none;
    background-color: #0a5aa1;
    color: white;
    font-family: "Poppins";
    font-weight: 500;
    border-radius: 10px;
    font-size: 22px;
    border: 2px solid #0a5aa1;
    transition: 0.4s ease;
  }
  
  .apply:hover {
    border: 2px solid #0a5aa1;
    background: white;
    color: #0a5aa1;
  }
  
  #batch-container {
  }
  
  .simple-inner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  
  canvas {
    width: 300px !important;
    height: 300px !important;
  }
  
  .range-inner-content {
    display: flex;
    gap: 30px;
    flex-direction: column;
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 600;
    color: white;
  
    .apply {
      margin-top: 30px;
    }
  
    .range-box {
      display: flex;
      gap: 100px;
      font-family: "Inter";
      font-size: 18px;
  
      .input-box {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-family: "Inter";
        font-size: 18px;
  
        input {
          font-family: "Inter", serif;
          font-size: 18px;
          border-radius: 10px;
          padding: 10px 20px;
          outline: 2px solid rgba(136, 136, 136, 0.7);
          border: none;
        }
      }
    }
  }
  
  .simple-content {
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    gap: 50px;
    justify-content: start;
  
    span {
      font-family: "Poppins", serif;
      font-size: 20px;
      color: white;
    }
  
    select {
      font-family: "Inter", serif;
      font-size: 20px;
      border-radius: 10px;
      padding: 10px 20px;
      outline: 2px solid rgba(136, 136, 136, 0.7);
    }
  }
  
  #intern-track-title {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 50px;
    font-style: normal;
    span {
      font-style: oblique;
    }
    position: absolute;
    top: 40vh;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  #clock {
    height: 250px;
    width: 250px;
    border-radius: 25px;
    position: absolute;
    margin-top: -140px;
    right: 100px;
  }
  
  #ssn-banner-video-backdrop {
    width: 110vw;
    height: 85vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: -80px;
    z-index: -1;
    filter: blur(10px) brightness(70%); /* More intense blur and dim effect */
  }
  
  #navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
  
    #header-right {
      display: flex;
      align-items: center;
      gap: 30px;
  
      #ssn {
        height: 70px;
      }
  
      #logout {
        margin-right: 80px;
        font-family: "Inter", serif;
        padding: 10px 20px;
        border-radius: 10px;
        font-size: 16px;
        outline: none;
        border: none;
        background-color: rgb(217, 46, 46);
        color: white;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s ease;
      }
  
      #logout:hover {
        background-color: red;
      }
    }
  
    #intern-track {
      height: 130px;
    }
  }
  
  #profile-title {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .container {
    padding: 50px 40px;
    height: max-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  
  #filters {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .filter {
    outline: none;
    border: none;
    font-family: "Inter", serif;
    font-size: 16px;
    padding: 10px 25px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .filter:hover {
    background-color: #0a5aa1;
    color: white;
  }
  
  .filter-container {
    display: none;
  }
  .table-container {
    width: 94vw;
    overflow-x: auto;
  }
  
  #intern-table {
    min-width: 1000px;
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    text-align: left;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-family: "Inter", serif;
  }
  
  #intern-table thead {
    background-color: #0a5aa1;
    color: white;
  }
  
  #intern-table th,
  #intern-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  #intern-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  #intern-table tr {
    transition: transform 0.3s ease-in-out;
    position: relative;
  }
  
  /* Move row to the right on hover */
  #intern-table tr:hover {
    transform: translateX(-100px);
  }
  
  #intern-table tr:first-child:hover {
    transform: none;
  }
  
  .edit-container {
    display: none;
    min-width: 100vw;
    min-height: 100vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 150;
    overflow-y: scroll;
  
    .edit-inner-container {
      background: white;
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding: 20px 50px;
      border-radius: 20px;
      overflow-y: scroll;
  
      .edit-header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
  
        .close-btn {
          color: black;
          top: 0px;
          right: 0px;
          align-self: flex-end;
        }
  
        h1 {
          font-family: "Poppins";
          color: black;
        }
      }
  
      form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 40px;
        row-gap: 20px;
        .profile-field {
          display: flex;
          flex-direction: column;
          gap: 10px;
          font-family: "Inter", serif;
          font-optical-sizing: auto;
          font-weight: 400;
          font-style: normal;
        }
  
        button {
          padding: 15px;
          border-radius: 15px;
          font-family: "Poppins";
          font-weight: 600;
          font-size: 16px;
          transition: all 0.3s ease;
          margin-top: 20px;
          margin-bottom: 20px;
        }
        
        button[type="reset"] {
          background: transparent;
        }
        
        button[type="reset"]:hover {
          background: rgba(184, 184, 184, 0.2);
        }
        
        button[type="submit"] {
          background: #0a5aa1;
          color: white;
          border: 2px solid #0a5aa1;
        }
        
        button[type="submit"]:hover {
          background: white;
          color: #0a5aa1;
          border: 2px solid #0a5aa1;
        }
  
        input,
        select {
          outline: 2px solid rgba(113, 113, 113, 0.2);
          border-radius: 10px;
          padding: 10px 20px;
          border: none;
          background: transparent;
          font-family: "Inter", serif;
          font-optical-sizing: auto;
          font-weight: 400;
          font-style: normal;
          color: black;
          font-size: 16px;
          transition: all 0.2s ease;
        }
      }
    }
  }
  
  /* Position the Edit button behind the row initially */
  #intern-table td:last-child {
    position: absolute;
    right: 0;
    width: 80px; /* Adjust button column width */
    text-align: center;
    opacity: 0; /* Initially hidden */
    transform: translate(100%);
    border: none;
    outline: none;
    transition: opacity 0.3s ease-in-out;
  }
  
  /* Reveal button when hovering */
  #intern-table tr:hover td:last-child {
    opacity: 1;
  }
  
  #intern-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  #intern-table tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  /* Pagination Styling */
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -15px;
    padding-bottom: 30px;
    gap: 10px;
  }
  
  .pagination button {
    padding: 8px 15px;
    background-color: #0a5aa1;
    color: white;
    border: none;
    font-family: "Poppins", serif;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .pagination span {
    font-family: "Roboto", serif;
    padding: 0 20px;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  #pie-charts {
    display: flex;
    gap: 40px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  
    width: 70%;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .search-header {
    display: flex;
    justify-content: space-between;
    width: 94vw;
    #report {
      background-color: #0a5aa1;
      color: white;
      font-family: "Inter", serif;
      font-size: 16px;
      padding: 5px 20px;
      border-radius: 10px;
      outline: none;
      border: none;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      transition: 0.4s ease;
    }
    #report:hover {
      background-color: #032747;
    }
  }
  
  .pie-chart {
    height: 200px;
    width: 200px;
  }
  
  #footer {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    background-color: #032747;
    color: white;
    font-family: "Poppins";
    span {
      font-style: oblique;
    }
  }
  
  @media (max-width: 1024px) and (min-width: 768px) {
    .container {
      padding: 40px 30px;
    }
  
    .table-container {
      /* min-width: 94vw;
      max-width: 94vw; */
    }
  
    .container {
      max-width: 87vw;
      min-width: 87vw;
    }
  
    .table-container {
      max-width: 96vw;
      min-width: 96vw;
      overflow-x: auto; /* Enables horizontal scrolling */
      border-radius: 15px;
      /* border: 2px solid black; */
      padding: 0 10px; /* Ensures rounded corners don't get cut */
      background: white;
    }
  
    /* Apply rounded corners only to the first and last row */
    #intern-table {
      width: 100%;
      min-width: 900px; /* Adjust if needed */
      border-collapse: separate;
      border-spacing: 0;
      border-radius: 15px;
      overflow: hidden; /* Ensures the table takes the rounded shape */
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }
  
    .pagination {
      padding-top: 30px;
    }
  
    #pie-charts {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  
  @media (max-width: 768px) {
    .table-container {
      min-width: 94vw;
      max-width: 94vw;
    }
  
    #navbar {
      padding: 10px 5px;
  
      #header-right {
        gap: 10px;
        #logout {
          margin-right: 15px;
          span {
            display: none;
          }
        }
        #ssn {
          height: 50px;
        }
      }
  
      #intern-track {
        height: 90px;
      }
    }
  
    .video-container {
      max-height: 35vh;
    }
  
    .container {
      padding: 20px 20px;
      max-width: 87vw;
      min-width: 87vw;
    }
  
    #report {
      margin-right: 23px;
    }
  
    .filter {
      padding: 8px 8px;
    }
  
    #footer {
      padding: 20px 10px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
    }
  
    .search-header {
      flex-direction: column;
      gap: 15px;
      #report {
        padding: 15px 0;
      }
    }
  
    #pie-charts {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-content: center;
      max-width: 87vw;
      min-width: 87vw;
    }
  
    .pagination {
      padding-top: 10px;
    }
  
    .table-container {
      max-width: 91vw;
      min-width: 91vw;
      overflow-x: auto; /* Enables horizontal scrolling */
      border-radius: 15px;
      /* border: 2px solid black; */
      padding: 0 10px; /* Ensures rounded corners don't get cut */
      background: white;
    }
  
    /* Apply rounded corners only to the first and last row */
    #intern-table {
      width: 100%;
      min-width: 900px; /* Adjust if needed */
      border-collapse: separate;
      border-spacing: 0;
      border-radius: 15px;
      overflow: hidden; /* Ensures the table takes the rounded shape */
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }
  
    .close-btn {
      top: 30px;
      right: 30px;
    }
  
    .range-inner-content {
      gap: 35px;
  
      .range-box {
        flex-direction: column;
        gap: 25px;
        align-items: center;
  
        .input-box {
          display: flex;
          flex-direction: column;
          gap: 20px;
          font-family: "Inter";
          font-size: 18px;
  
          input {
            font-family: "Inter", serif;
            font-size: 18px;
            border-radius: 10px;
            padding: 10px 20px;
            outline: 2px solid rgba(136, 136, 136, 0.7);
            border: none;
          }
        }
      }
    }
  
    #pie-charts {
      display: none;
    }
  
    .table-container {
      margin-top: 10px;
    }
  
    .pagination {
      margin-top: 15px;
    }
  
    .simple-content {
      flex-direction: column;
  
      select {
        padding: 10px 30px;
      }
    }
  
    
  }
  
  
  
  